In [1]:
import pandas as pd

In [2]:
# code directly copied from covid19api to query covid19 data in singapore for all type of cases
import requests

url = "https://api.covid19api.com/total/country/singapore"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

df=pd.DataFrame(response.json())

In [3]:
df=df[["Country","Confirmed","Deaths","Recovered","Active","Date"]]

In [4]:
df

       Country  Confirmed  Deaths  Recovered  Active                  Date
0    Singapore          0       0          0       0  2020-01-22T00:00:00Z
1    Singapore          1       0          0       1  2020-01-23T00:00:00Z
2    Singapore          3       0          0       3  2020-01-24T00:00:00Z
3    Singapore          3       0          0       3  2020-01-25T00:00:00Z
4    Singapore          4       0          0       4  2020-01-26T00:00:00Z
..         ...        ...     ...        ...     ...                   ...
649  Singapore     200844     421          0  200423  2021-11-01T00:00:00Z
650  Singapore     204340     430          0  203910  2021-11-02T00:00:00Z
651  Singapore     207975     442          0  207533  2021-11-03T00:00:00Z
652  Singapore     210978     459          0  210519  2021-11-04T00:00:00Z
653  Singapore     212745     468          0  212277  2021-11-05T00:00:00Z

[654 rows x 6 columns]

In [ ]:
#graph would be more meaningful to show daily confirmed, daily death, daily recovered